html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

#main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background-color: #efefef; }
  #main::after {
    clear: both;
    content: "";
    display: table; }

#top-row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #top-row:last-child {
    margin-right: 0; }

#middle-row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #fefefe; }
  #middle-row:last-child {
    margin-right: 0; }

#bottom-row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #dfdfdf; }
  #bottom-row:last-child {
    margin-right: 0; }
