@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "components/components";
@import "patterns/patterns";

body {
	font-family: $helvetica;
	background-color: orange;
} // close body

#main {
	@include outer-container(100%);
	background-color: tint(#fff, 50%);
}

#content {
	//width: 40em;
	//margin: 0 auto;
	@include outer-container(78em);
	text-align: center;
}

#inner-content {
	@include span-columns(10);
	@include shift(1);
}

#middle-row, #button-row {
	@include span-columns(12);
}

#middle-row {
	background-color: #fff;
}

#button-row {
	background-color: #fff;
	text-align: center;
	padding-top: 2em;
}

h1 {
	font-size: $h1-font-size;
	padding: 1em 0 .5em;
}

h2 {
	font-size: $h2-font-size;
}

header {
	background-color: white;
}

footer {
	@include span-columns(12);
	background-color: $nav-bgcolor;
}

nav {
	background-color: tint($nav-bgcolor, 10%);
	//font-family: $monospace;
	height: $base-spacing * 2.5;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: $light-action-color;
  }
}

.hero {
	background-position: center bottom;
}

.hero .hero-logo img {
	height: 6em;
	margin-bottom: 0;
}

.hero .hero-inner .hero-copy h1 {
	font-size: 2.8em;
	padding: .2em;
	text-shadow: 1px 3px 4px rgba(40, 40, 53, 0.85);
}

.hero .hero-inner .hero-copy p {
	font-size: 1.3em;
	padding: .2em;
	font-weight: 500;
	text-shadow: 1px 3px 4px rgba(40, 40, 53, 0.85);
}

.modal .modal-trigger {
	font-size: 1.4em;
	color: #11519A;
	text-shadow: 1px 3px 4px rgba(250, 250, 250, 0.85);
}

.site-footer {
	background-color: orange;
	text-align: center;
	height: 150px;
	padding-top: 2em;
}

.modal-trigger {
	color: white;
	font-size: 1.3em;
}

#gameboard {
	min-height: 65%;
	width: 90%;
	position: fixed;
	margin: 0 auto;
	top: 70px;
	left: 50%;
	background-color: #efefef;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	display: none;
	border-radius: 3px;
	box-shadow: 3px 3px 7px rgba(0,0,0,.5);
	z-index:2;
}

#gameShadow {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.7);
	z-index: 1;
	display: none;
}

#questions {
	position: relative;
	margin: 1em 1em 4em 1em;
}

.buttons {
	//position: fixed;
	//bottom: 10px;
	width: 80%;
	margin: 0 2em;
}

.closeGame {
	float: right;
}

.nextQuestion {
	float: left;
}

.questionHeading {
	font-size: 1.8em;
}

.runningTotal, .message {
	font-size: 1.3em;
	padding-top: .5em;
}

.communication {
	height: 6em;
}

#video-section img {
  padding: 10px; 
}

#video-section li {
  display: inline-block; 
}